*.pyc
*.swp
*.nc
*.log
logs/*
*plots/
.vscode
*__pycache__*
src/checkers/__init__.pyc
.coverage
*references_emissions/*.nc
*references_landuse/*.nc
*runs/
*test.py
*backup/
*path
*.err
*.out
load_modules*
run_checker_bash_lu.bash
run_checker_bash
run_checker_bash_em.bash
rm_logs
config_lu_testing.json
config_em_testing.json
test_lu/
run_checker_bash_lu_testing
runs/
*check_em/
list_em
log_em
